.box-text-animals {
  font-size: 27px;
}

@media screen and (min-width: 350px) and (max-width: 480px) {
  .box {
    width: 62px;
    height: 60px;
    max-width: 120px;
    padding: 5px;
    cursor: pointer;
  }

  .box-text {
    font-size: 11px;
  }

  .winner-screen {
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 700px) {
  .box {
    height: 70px;
    width: 85px;
    max-width: 120px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .box-text {
    font-size: 13px;
  }

  .winner-screen {
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 701px) {
  .box {
    height: 80px;
    width: 90px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .box-text {
    font-size: 15px;
  }

  .winner-screen {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}